@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #023b6d;
    color: white;
    height: 10vh;
    position: sticky;
    z-index: 999;
}

nav img {

    height: 30px;
    width: 214px;
    margin: 20px 0px;
    margin-left: 70px;


}

.search {
    display: flex;
    position: relative;
    right: 73px;
    margin: 17px 74px;
    height: 30px;


}

.search input {
    background-color: #023b6d;
    width: 250px;
    border: 2px solid lightgray;
    color: white;
}

nav ul {

    display: flex;
    float: right;

}

nav ul li {
    list-style: none;
    margin: 20px 0px;
    font-size: 17px;


}

nav ul li a {

    color: white;
    text-decoration: none;
    padding: 18px;


}

nav ul li a:hover {
    cursor: pointer;
    color: gray;
}

main {
    height: 100vh;
}

.container1 {

    height: 35vh;
    font-size: 25px;
    color: #023b6d;


    text-align: center;


}

.heading {
    position: relative;
    top: 55px;
}

.paragraph {
    position: relative;
    top: 65px;
}